html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.back-img {
  width: 100%;
  height: 999px;
}

.navbar {
  position: fixed;
  float: left;
  overflow: hidden;
  z-index: 999;
  left: 42%;
  width: 100%;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

.navbar li a {
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: white;
  position: sticky;
  z-index: 999;
  font-family: "europa", sans-serif;
}

li {
  display: inline;
  font-size: 20px;
  margin: 61px;
  z-index: 999;
  position: sticky;
}

.section {
  position: relative;
  top: 430px;
  left: 38%;
  color: white;
  width: 610px;
  font-size: 20px;
  font-family: "europa", sans-serif;
}

.section p {
  position: relative;
  right: 5px;
}

.logo-section {
  top: 10px;
  margin-left: 10px;
  z-index: 999;
  position: sticky;
  width: 50px;
  left: 15px;
}

.logo {
  width: 45px;
  height: 45px;
  border-radius: 50px;
}

.home-page {
  position: relative;
  height: 1000px;
  margin-top: -76px;
  background-image: url(images/landscape.jpg);
  width: 100%;
}

.pic1 {
  width: 30px;
  height: 30px;
}

.pic2 {
  width: 30px;
  height: 30px;
}

.pic3 {
  width: 30px;
  height: 30px;
}

.social-icons {
  display: flex;
  position: relative;
  flex-direction: row;
  left: 42%;
  bottom: -70%;
  justify-content: space-evenly;
  width: 300px;
}

ul li a:hover {
  text-decoration: underline;
}

/*About section*/

.about-sec {
  background: #737373;
  height: 750px;
  margin-top: -80px;
}

.pic4 {
  position: relative;
  height: 400px;
  width: 400px;
  left: 60%;
  border-radius: 50%;
  bottom: 230px;
}

.text1 {
  height: 400px;
  width: 40%;
  position: relative;
  left: 280px;
  top: 20%;
  color: rgb(204, 197, 197);
  font-family: "europa", sans-serif;
  text-align: justify;
}
.text1 h1 {
  color: rgb(54, 53, 53);
  font-size: 50px;
  font-family: "europa", sans-serif;
}
.text1 p {
  font-size: 15px;
}

.education {
  position: relative;
  bottom: 438px;
  left: 671px;
  width: 400px;
}

.interest {
  position: relative;
  bottom: 315px;
  left: 370px;
  width: 300px;
}

.interest h2 {
  color: rgb(54, 53, 53);
  font-family: "europa", sans-serif;
}

.education h2 {
  color: rgb(54, 53, 53);
  font-family: "europa", sans-serif;
}

.education ul li {
  display: list-item;
  margin: 0px;
  position: relative;
  list-style-type: square;
  font-size: 15px;
  width: 350px;
}

.interest ul li {
  display: list-item;
  margin: 0px;
  position: relative;
  list-style-type: square;
  font-size: 15px;
  width: 350px;
}

ul.a {
  width: 200px;
  color: rgb(204, 197, 197);
}

/* Skills section**/

.skills {
  position: relative;
  height: 500px;
  top: 75px;
  margin-top: -103px;
  background: #e5eaee;
}

.skills h1 {
  color: #274046;
  position: relative;
  left: 50px;
  top: 40px;
  text-align: center;
  font-size: 40px;
  font-family: "europa", sans-serif;
}

.first_box {
  display: flex;
  justify-content: space-around;
  padding-top: 46px;
  width: 44%;
  text-align: center;
  margin-left: 184px;
  color: #274046;
  font-family: "europa", sans-serif;
}

.second_box {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
  width: 44%;
  text-align: center;
  margin-left: 184px;
  color: #274046;
  font-family: "europa", sans-serif;
}

.icons {
  height: 80px;
  width: 80px;
}

.skill_level {
  position: relative;
  background-color: grey;
  width: 27%;
  left: 60%;
  bottom: 320px;
  height: 5%;
}

.html {
  width: 79%;
  background-color: rgb(196, 55, 55);
  text-align: end;
  position: relative;
  bottom: 137%;
  height: 24px;
  left: 17%;
}

.css {
  width: 79%;
  background-color: rgb(196, 55, 55);
  text-align: end;
  position: relative;
  bottom: 137%;
  height: 24px;
  left: 17%;
}

.javascript {
  width: 70%;
  background-color: rgb(196, 55, 55);
  text-align: end;
  position: relative;
  bottom: 137%;
  height: 24px;
  left: 17%;
}

.python {
  width: 76%;
  background-color: rgb(196, 55, 55);
  text-align: end;
  position: relative;
  bottom: 137%;
  height: 24px;
  left: 17%;
}

/**Projects section**/

.projects {
  width: 100%;
  height: 840px;
  margin-top: -298px;
  bottom: -346px;
  position: relative;
  background: #737373;
}

.projects h1 {
  color: #274046;
  position: relative;
  left: 50px;
  top: 40px;
  text-align: center;
  font-size: 40px;
  font-family: "europa", sans-serif;
}

.pic5 {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 30%;
}

.projecto {
  display: flex;
  position: relative;
  margin-top: 0px;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 89px;
  padding-left: 88px;
  width: 94%;
}

.projecto1 {
  display: flex;
  position: relative;
  margin-top: 0px;
  justify-content: space-around;
  padding-top: 89px;
  padding-left: 88px;
  width: 95%;
}

.text2 {
  text-align: center;
  color: rgb(54, 53, 53);
  font-family: "europa", sans-serif;
  font-size: large;
}

.text20 {
  text-align: center;
  color: rgb(54, 53, 53);
  font-family: "europa", sans-serif;
  font-size: large;
  position: relative;
  left: -29px;
}

/**Contact Section**/
.contact-sec {
  width: 100%;
  height: 600px;
  position: relative;
  top: 1264px;
  background: #737373;
}

.contact-sec h1 {
  color: #274046;
  position: relative;
  left: 50px;
  top: 40px;
  text-align: center;
  font-size: 40px;
}

.form {
  position: relative;
  left: 40%;
  top: 15%;
}

.fname {
  background: none;
  border-color: black;
  height: 45px;
  width: 450px;
  border-radius: 10px;
  margin-bottom: 25px;
}

.sname {
  background: none;
  border-color: black;
  height: 45px;
  width: 450px;
  border-radius: 10px;
  margin-bottom: 25px;
}

.email {
  background: none;
  border-color: black;
  height: 45px;
  width: 450px;
  border-radius: 10px;
  margin-bottom: 25px;
}

textarea {
  background: none;
  border-color: black;
  height: 100px;
  width: 450px;
  border-radius: 10px;
  margin-bottom: 25px;
}

.send {
  position: relative;
  left: 19%;
  width: 60px;
  height: 40px;
  background: none;
  border-color: #111c1f;
  border-radius: 10px;
}

.send:hover {
  background: #111c1f;
}


.cont{
  position: relative;
  left: 14%;
  display: flex;
  flex-direction: column;
  width: 20%;
  top: 910px;
}

.cont1 {
  margin-bottom: 30px;
}

.cont2 {
  margin-bottom: 30px;
}

.cont3 {
  margin-bottom: 30px;
}

.cont4 {
  position: relative;
  bottom: 57px;
  left: 50px;
  color: rgb(204, 197, 197);
  font-size: 15px;
}

/***Testimonial section***/
.test {
  position: relative;
  left: 0%;
  top: 1300px;
  margin-top: -1000px;
  height: 725px;
  background: #e5eaee;
}

.test h1 {
  color: #274046;
  position: relative;
  left: 50px;
  top: 40px;
  text-align: center;
  font-size: 40px;
  font-family: "europa", sans-serif;
}

.profile {
  width: 285px;
  height: 350px;
  border-radius: 40px;
  object-fit: cover;
  object-position: top;
}

.person {
  display: flex;
  justify-content: space-around;
  margin-top: 91px;
  width: 74%;
  margin-left: 227px;
}

.laeeqah {
  width: 19%;
  text-align: center;
  color: #274046;
}

.cp {
  color: #0b293c;
  text-align: left;
}

/**Footer**/
.footer {
  height: 130px;
  position: relative;
  top: 1000px;
  background: #e5eaee;
}

.social {
  display: flex;
  position: relative;
  flex-direction: row;
  left: 43%;
  top: 28%;
  justify-content: space-evenly;
  width: 300px;
}

.footer p {
  position: relative;
  left: 45.5%;
  top: 20%;
  color: #0b293c;
}

/**MEDIA QUARIE SECTION FOR **/
@media only screen and (max-width: 1846px) {
  .navbar {
    left: 39%;
  }
  .test {
    height: 725px;
  }
  .cont {
    position: relative;
    left: 9%;
    display: flex;
    flex-direction: column;
    width: 20%;
    top: 899px;
  }
}

@media only screen and (max-width: 1788px) {
  .navbar {
    left: 20%;
  }
}

@media only screen and (max-width: 1560px) {
  .person {
/**MEDIA QUARIE SECTION FOR **/
@media only screen and (max-width: 1846px){
  .navbar{
    left: 39%;
  }
  .test{
    height: 725px;
  }
  .cont {
    position: relative;
    left: 9%;
    display: flex;
    flex-direction: column;
    width: 20%;
    top: 899px;
}
}

@media only screen and (max-width: 1788px){
  .navbar{
    left: 20%;
  }


}

@media only screen and (max-width: 1560px){
  .person{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    left: -66px;
  }

  .test{
    height: 1275px;
  }

  .laeeqah {
    width: 36%;
    text-align: center;
    color: #274046;
  }
}

  .pic4 {
    position: relative;
    height: 400px;
    width: 400px;
    left: 67%;
    border-radius: 50%;
    bottom: 249px;
  }

}

@media only screen and (max-width: 1300px) {
  .navbar {
    left: 6%;
  }

  .text1 {
    left: 205px;
  }

  .interest {
    bottom: 256px;
    left: 209px;
  }

  .education {
    bottom: 382px;
    left: 491px;
  }

  .pic4 {
    left: 61%;
  }

  .send {
    left: 3%;
  }
}

  @media only screen and (max-width: 1300px){
    .navbar{
      left: 6%;
    }

    .text1{
      left: 205px;
    }

    .interest {
      bottom: 256px;
      left: 209px;
    }

    .education{
      bottom: 382px;
      left: 491px;
    }

    .pic4{
      left: 61%;
    }

    .send{
      left: 3%;
    }

  }



/*****MEDIA QUARIE SECTION FOR IPAD PHONE******/

@media only screen and (max-width: 768px) {
  .navbar {
    width: 158%;
    left: 78px;
  }

  li {
    margin: 19px;
    line-height: 36px;
  }

  .section {
    left: 22%;
  }

  .social-icons {
    left: 32%;
  }

  .text1 {
    left: 60px;
    top: 12%;
    color: rgb(49, 47, 47);
  }

  .pic4 {
    height: 320px;
    width: 320px;
    left: 53%;
  }

  .about-sec {
    height: 927px;
  }

  .interest {
    bottom: 95px;
    left: 64px;
  }

  .education {
    bottom: 272px;
    left: 348px;
  }

  ul.a {
    color: rgb(49, 47, 47);
  }

  .first_box {
    margin-left: 57px;
    width: 53%;
  }

  .second_box {
    margin-left: 57px;
    width: 53%;
  }

  .skill_level {
    left: 67%;
  }

  .projecto {
    justify-content: space-between;
    padding-left: 54px;
    left: 12px;
    width: 92%;
  }

  .projecto1 {
    justify-content: space-between;
    padding-left: 53px;
    left: -26px;
    width: 100%;
  }

  .test {
    height: 130%;
  }

  .contact-sec {
    height: 770px;
    top: 1183px;
  }

  .laeeqah {
    width: 46%;
  }


  .person{
    margin-left: 95px;
    flex-wrap: wrap;
    width: 93%;
  }

  .cont {
    width: 50%;
    left: 30%;
    top: 966px;
  }

  .form {
    left: 19%;
    top: 6%;
  }

  .footer {
    height: 146px;
    margin-top: -82px;
  }

  .social {
    left: 33%;
    top: 35%;
  }

  .footer p {
    left: 10px;
    left: 296px;
  }
}

/*****MEDIA QUARIE SECTION FOR GALAXY S5 PHONE******/

@media only screen and (max-width: 360px) {
  .logo-section {
    position: absolute;
    margin-left: -2px;
  }

  .toggle-button {
    display: flex;
  }

  .cp {
    text-align: left;
  }

  .laeeqah {
    width: 30%;
  }

  .navbar {
    display: none;
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar ul {
    display: flex;
    flex-direction: column;
  }

  .navbar li {
    text-align: center;
    margin: 10px;
    margin-left: -4px;
  }

  .navbar li a {
    padding: 0.5rem;
  }

  .navbar.active {
    display: flex;
  }

  .home-page {
    background-size: 301%;
    background-repeat: no-repeat;
    background-image: url(images/landscape.jpg);
    margin-top: -19px;
  }

  .section {
    position: relative;
    top: 240px;
    color: white;
    width: 360px;
    font-size: 14px;
    left: 19px;
  }

  .social-icons {
    display: flex;
    position: relative;
    flex-direction: row;
    left: 8%;
    bottom: -43%;
    justify-content: space-evenly;
    width: 300px;
  }

  .about-sec {
    background: linear-gradient(to right, #274046, #e6dada);
    height: 1270px;
    margin-top: -525px;
  }

  .toggle-button {
    display: flex;
    z-index: 999;
    position: fixed;
  }

  ul.a {
    width: 200px;
    color: rgb(45, 24, 24);
  }

  .skills {
    background-color: #d9dfdf;
    position: relative;
    height: 1290px;
    top: -8px;
  }

  .text1 {
    height: 460px;
    width: 83%;
    position: relative;
    left: 27px;
    top: 290px;
    color: rgb(45, 17, 17);
    font-family: "europa", sans-serif;
    text-align: center;
  }

  .text1 h1 {
    position: relative;
    top: 19px;
    color: rgb(54, 53, 53);
    font-size: 50px;
    font-family: "europa", sans-serif;
  }

  .text1 p {
    position: relative;
    top: -25px;
    font-size: 15px;
    text-align: left;
  }

  .pic4 {
    position: relative;
    height: 200px;
    width: 200px;
    left: 70px;
    border-radius: 50%;
    bottom: 353px;
  }

  .skills h1 {
    color: #274046;
    position: relative;
    left: 1px;
    top: 10px;
    text-align: center;
    font-size: 40px;
  }

  .interest {
    position: relative;
    bottom: -80px;
    left: 33px;
  }
  .education {
    position: relative;
    bottom: -88px;
    left: -16px;
  }
  .interest h2 {
    color: rgb(54, 53, 53);
    font-family: "europa", sans-serif;
    position: relative;
    left: 73px;
  }

  .education h2 {
    color: rgb(54, 53, 53);
    font-family: "europa", sans-serif;
    position: relative;
    left: 120px;
  }

  .first_box {
    display: flex;
    justify-content: space-around;
    width: 44%;
    text-align: center;
    margin-left: 100px;
    flex-wrap: wrap;
    padding-top: 0px;
  }

  .second_box {
    display: flex;
    justify-content: space-around;
    padding-top: 24px;
    width: 44%;
    text-align: center;
    margin-left: 100px;
    flex-wrap: wrap-reverse;
  }

  .skill_level {
    position: relative;
    background-color: grey;
    height: 25px;
    width: 90%;
    left: 3vh;
    bottom: 6px;
  }
  .javascript {
    width: 50%;
    background-color: rgb(196, 55, 55);
    text-align: end;
    position: relative;
    bottom: 137%;
    height: 24px;
    left: 23%;
  }

  .python {
    width: 63%;
    background-color: rgb(196, 55, 55);
    text-align: end;
    position: relative;
    bottom: 137%;
    height: 24px;
    left: 23%;
  }

  .projects {
    background: linear-gradient(to right, #274046, #e6dada);
    width: 100%;
    margin-top: -298px;
    bottom: -150px;
    position: relative;
    height: 1748px;
    margin-bottom: -84px;
  }

  .projects h1 {
    color: #274046;
    position: relative;
    left: 12px;
    top: 10px;
    text-align: center;
    font-size: 40px;
  }

  .projecto {
    top: -13vh;
    flex-direction: column;
    left: 0px;
    padding-left: 87px;
  }

  .text20 {
    text-align: inherit;
    color: rgb(54, 53, 53);
    font-size: 17px;
    font-weight: 600;
    position: relative;
    left: -23px;
  }

  .projecto1 {
    top: -23vh;
    flex-direction: column;
    left: 35px;
  }

  .text2 {
    font-family: "europa", sans-serif;
    font-size: large;
    text-align: inherit;
  }

  .text21 {
    text-align: center;
    color: #111c1f;
    font-size: 17px;
    font-weight: 600;
    position: relative;
    left: -32px;
  }

.test {
  background: #d9dfdf;
  position: relative;
  left: 0%;
  top: 1300px;
  height: 1855px;
  margin-top: -1154px;
}

.contact-sec {
  background: linear-gradient(to right, #274046, #E6DADA);
  width: 100%;
  height: 760px;
  margin-top: 116px;
}

  .test h1 {
    color: #274046;
    position: relative;
    left: 5px;
    top: 10px;
    text-align: center;
    font-size: 40px;
  }

  .profile {
    width: 192px;
    height: 250px;
    border-radius: 40px;
  }


  .person {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    width: 1000px;
    margin-left: 99px;
    flex-direction: column;
  }
  .contact-sec h1 {
    color: #274046;
    position: relative;
    left: 12px;
    top: 10px;
    text-align: center;
    font-size: 40px;
  }

  .form {
    position: relative;
    left: 19%;
    top: 13px;
    display: flex;
    flex-wrap: wrap;
    width: 0%;
  }

  .cont {
    margin-top: -102px;
    position: relative;
    bottom: 575px;
    display: flex;
    flex-direction: column;
    width: 100%;
    left: 17px;
    top: 1046px;
  }

  .cont4 {
    position: relative;
    bottom: 57px;
    left: 50px;
    color: rgb(26, 25, 25);
    font-size: 15px;
  }
.footer {
  background: #d9dfdf;
  margin-top: 35px;
  height: 96px;
}

  .social {
    display: flex;
    position: relative;
    flex-direction: row;
    left: 36px;
    top: -15px;
    justify-content: space-evenly;
    width: 300px;
  }

  .footer p {
    position: relative;
    left: 83px;
    top: 70px;
  }
}
